.linkedin-link-component {
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin-link-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
