.box-wrapper {
  padding: 40px 194px;

  .leading {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #333333;
  }

  .text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #333333;
    margin-bottom: 30px;
  }
}
