* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @extend html;
  background: #e5e5e5;
  color: #333333;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

#root {
  @extend html;
}
