* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @extend html;
  background: #e5e5e5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
