.page-header-component {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('./image_002.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;

  .page-header-component-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  .leading {
    color: #ffffff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 991.98px) {
  .page-header-component {
    .page-header-component-wrapper {
      padding: 0px;
    }

    .leading {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 992px) {
  .page-header-component {
    .page-header-component-wrapper {
      padding: 0 5rem;
    }

    .leading {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-header-component {
    .page-header-component-wrapper {
      padding: 0px 215px;
    }

    .leading {
      margin-bottom: 120px;
    }
  }
}
