.navbar-menu {
  background: #ffffff;
  height: 68px;
  justify-content: flex-start;
  padding-bottom: 0;
  padding-left: 239px;
  padding-right: 230px;
  padding-top: 0;
}

.link-home {
  margin-right: 49px;
  padding: 0;
}

.img-logo {
  width: 50px;
  height: 50px;
}

.menu {
  padding: 25px 0px;
}

.menu-item {
  padding: 0px 18px;
}

.action-link {
  width: 184px;
  height: 38px;
  margin-left: auto;
  padding: 0;
}

.action-link-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-subscribe {
  width: 100px;
  height: 38px;
}
