input::placeholder {
  color: #828282;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

input.error::placeholder {
  color: #dc3545 !important;
}

.input-component {
  background: #ffffff;
  border: 1.5px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 6px;
}

.input-component.error {
  border-color: #dc3545 !important;
}
