.footer-wrapper {
  height: 196px;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
}

.site-map {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 247px;
  height: 16px;
  margin-bottom: 18px;

  .site-map-link {
    font-size: 12px;
    line-height: 16px;
    margin: 20px 0px;
    height: 16px;
  }
}

.connect-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 76px;
  height: 38px;

  .facebook-link,
  .linkedin-link {
    width: 38px;
    height: 38px;
  }
}

.copy-right {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  width: 171px;
  height: 16px;
}

@media screen and (max-width: 991.98px) {
  .footer-wrapper {
    padding: 0px;
  }
}

@media screen and (min-width: 992px) {
  .footer-wrapper {
    padding: 0px 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    padding: 0 215px;
  }
}
